.primary-navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  background-color: var(--clr-white-blur);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

.primary-navigation::before {
  position: absolute;
  content: '';
  top: 50%;
  left: -55%;
  width: 60%;
  border: 1px solid var(--clr-gray);
}

.nav-items {
  display: flex;
  align-items: center;
  padding-left: 7.5rem;
  font-family: var(--ff-sans-condensed);
  letter-spacing: var(--letter-sp-m);
}

.nav-item {
  display: flex;
  padding: 0;
}

.nav-item:not(:last-of-type) {
  margin-right: 2rem;
}

.nav-link {
  display: flex;
  font-family: var(--ff-sans-condensed);
  text-transform: uppercase;
  letter-spacing: var(--letter-sp-m);
}

.nav-item:hover .nav-link:not(.active),
.nav-item:focus .nav-link:not(.active) {
  padding: 2rem 0 1.8rem;
  border-bottom: 3px solid var(--clr-medium-white);
}

.nav-item .nav-link.active {
  padding: 2rem 0 1.8rem;
  border-bottom: 3px solid var(--clr-white);
}

.nav-link span {
  margin-right: 0.7rem;
}

.hamburger-icons {
  display: none;
}

@media (max-width: 1320px) {
  .primary-navigation {
    width: 70%;
  }

  .primary-navigation::before {
    left: -30%;
    width: 35%;
  }
}

@media (max-width: 1125px) {
  .primary-navigation {
    width: 85%;
  }

  .primary-navigation::before {
    left: -5%;
    width: 10%;
  }
}

@media (max-width: 1004px) {
  .primary-navigation {
    width: 65%;
  }

  .primary-navigation .nav-items {
    padding-left: 3rem;
  }

  .primary-navigation::before,
  .nav-link span {
    display: none;
  }
}

@media (max-width: 770px) {
  .primary-navigation {
    width: 90%;
  }
}

@media (max-width: 569px) {
  .primary-navigation {
    background-color: transparent;
  }

  .primary-navigation:has(.nav-items.is-open) {
    position: fixed;
    height: calc(100vh + 7rem);
    height: calc(100dvh + 7rem);
    z-index: 2;
  }

  .primary-navigation>.nav-items.is-open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }

  .hamburger-icons {
    position: absolute;
    top: 2rem;
    right: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    margin-right: 1.5rem;
    background-color: transparent;
    border: none;
  }

  .nav-items {
    display: none;
  }

  .nav-items.is-open {
    position: absolute;
    top: 7rem;
    right: 0;
    bottom: 0;
  }

  .nav-items.is-open .nav-item {
    margin: 7rem 0 0;
    width: 100%;
  }

  .nav-items.is-open .nav-item span {
    display: flex;
  }

  .nav-item:hover:has(.nav-link:not(.active)),
  .nav-item:focus:has(.nav-link:not(.active)) {
    border-right: 3px solid var(--clr-medium-white);
  }

  .nav-item:hover .nav-link:not(.active),
  .nav-item:focus .nav-link:not(.active) {
    padding: 0;
    border-bottom: none;
  }

  .nav-item:has(.nav-link.active) {
    border-right: 3px solid var(--clr-white);
  }

  .nav-item .nav-link.active {
    padding: 0;
    border-bottom: none;
  }
}