.destination-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.planet-img {
  margin: -1.5rem auto 0;
}

.right-side {
  max-width: 445px;
}

.right-side-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid var(--clr-medium-dark);
}

@media (max-width: 1125px) {
  .destination-content {
    gap: 2rem;
  }
}

@media (max-width: 1004px) {
  .destination-content {
    flex-direction: column;
    align-items: center;
    margin-top: 3.75rem;
    gap: 7.45rem;
  }

  .planet-img {
    display: flex;
    width: 67.4%;
    margin: 0 auto;
  }

  .right-side-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 569px) {
  .destination-content {
    margin-top: 2rem;
    gap: 7.63rem;
  }

  .planet-img {
    width: 57.6%;
  }
}

.right-side-bottom {
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.distance,
.time {
  width: 50%;
}

.time {
  margin-top: 2rem;
}