:root {
  /* colors */
  --clr-dark: hsl(230, 35%, 7%);
  --clr-medium-dark: hsl(231, 15%, 26%);
  --clr-gray: hsl(0, 0%, 59%);
  --clr-light: hsl(231, 77%, 90%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-medium-white: hsla(0, 0%, 100%, 0.5);
  --clr-medium-light-white: hsla(0, 0%, 100%, 0.25);
  --clr-light-white: hsla(0, 0%, 100%, 0.1036);
  --clr-white-blur: hsla(0, 0%, 100%, 0.04);
  --clr-white-blur-mobile: hsla(0, 0%, 100%, 0.3);


  /* font-family */
  --ff-serif: Bellefair, serif;
  --ff-sans-condensed: "Barlow Condensed", sans-serif;
  --ff-sans-normal: Barlow, sans-serif;

  /* font-size */
  --fs-14: 0.875rem;
  --fs-15: 0.9375rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-56: 3.5rem;
  --fs-80: 5rem;
  --fs-100: 6.25rem;
  --fs-150: 9.375rem;

  /* letter-spacing */
  --letter-sp-xxs: 0.7px;
  --letter-sp-xs: 2px;
  --letter-sp-s: 2.35px;
  --letter-sp-m: 2.7px;
  --letter-sp-l: 3.375px;
  --letter-sp-xl: 4.725px;
  --letter-sp-xxl: 4.75px;

  /* img url */
  --home-desktop-url: url('assets/home/background-home-desktop.jpg');
  --home-tablet-url: url('assets/home/background-home-tablet.jpg');
  --destination-desktop-url: url('assets/destination/background-destination-desktop.jpg');
  --destination-tablet-url: url('assets/destination/background-destination-tablet.jpg');
  --destination-mobile-url: url('assets/destination/background-destination-mobile.jpg');
  --crew-desktop-url: url('assets/crew/background-crew-desktop.jpg');
  --crew-tablet-url: url('assets/crew/background-crew-tablet.jpg');
  --crew-mobile-url: url('assets/crew/background-crew-mobile.jpg');

  /* media queries */
  --media-desktop: 1440px;
  --media-tablet: 768px;
  --media-mobile: 375px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  color-scheme: light dark;
}

body {
  position: relative;
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-16);
  color: var(--clr-white);
  line-height: 1.5;
  min-width: 375px;
  max-width: 1440px;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0 auto;
  overflow-x: hidden;
  /* background-color: var(--clr-dark); */
  background-color: pink;
  scrollbar-width: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture,
ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
.subheading-1 {
  font-family: var(--ff-serif);
  text-transform: uppercase;
}

h5,
.subheading-2 {
  font-family: var(--ff-sans-condensed);
  text-transform: uppercase;
}

h1 {
  font-size: var(--fs-150);
  line-height: 1;
}

h2 {
  font-size: var(--fs-100);
}

h3 {
  font-size: var(--fs-56);
}

h4 {
  font-size: var(--fs-32);
  color: var(--clr-medium-white);
}

h5 {
  font-size: var(--fs-28);
  letter-spacing: var(--letter-sp-xl);
}

.subheading-1 {
  font-size: var(--fs-28);
  color: var(--clr-white);
}

.subheading-2 {
  font-size: var(--fs-14);
  letter-spacing: var(--letter-sp-s);
  margin-bottom: 0.75rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

image,
picture {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 1;
  vertical-align: middle;
  font-style: italic;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  font-size: var(--fs-18);
  line-height: 2rem;
  color: var(--clr-light);
}

span {
  font-weight: 700;
}

@media (max-width: 1004px) {
  h1 {
    line-height: 9.375rem;
  }

  h2 {
    font-size: var(--fs-80);
  }

  h5 {
    font-size: var(--fs-20);
    letter-spacing: var(--letter-sp-l);
  }

  p {
    font-size: var(--fs-16);
    line-height: 1.75rem;
    text-align: center;
  }
}

@media (max-width: 569px) {
  h1 {
    font-size: var(--fs-80);
    line-height: 6.25rem;
  }

  h5 {
    font-size: var(--fs-16);
    letter-spacing: var(--letter-sp-m);
  }

  p {
    font-size: var(--fs-15);
    line-height: 1.5625rem;
  }
}